{% if (setting['width']) %}
<style type="text/css">
#d_ajax_search_results{
    width: {{setting['width']}};
}
</style>
{% endif %}
<button type="button" class="hidden modal_search btn btn-primary" data-toggle="modal" data-target="#searchModal">
  Launch Live Ajax Search
</button>
{% if mobile %}

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <div id="search_mobile" class="input-group">
            <span class="pull-left" data-dismiss="modal"><i class="fa fa-arrow-left"></i></span>
         <input id="search_input" type="text" name="search" value="" autofocus placeholder="Search" class="pull-left form-control input-lg">
         <div class="pull-right">
         <span onclick="clearInput()"><i class="fa fa-close"></i></span>
          <span><i class="fa fa-search"></i></span>
          </div>
        </div>
  </div>
  <div class="modal-body">
    <div id="help"> {{search_phase}}</div>
    </div>
</div>
</div>
</div>
{% endif %}

<script>
function doquick_search( ev, keywords ) {
    if( ev.keyCode == 38 || ev.keyCode == 40 ) {
        return false;
    }

    // $('#d_ajax_search_results').remove();
    updown = -1;

    if( keywords == '' || keywords.length < 1 || keywords.length < {{setting['max_symbols']}} ) {
        return false;
    }
    keywords = encodeURI(keywords);

    $.ajax({
        url: $('base').attr('href') + 'index.php?route=extension/module/d_ajax_search/searchresults&keyword=' + keywords,
        dataType: 'json',
        beforeSend: function() {

            var html = '<div id="d_ajax_search_results"><div id="d_ajax_search_results_body">';
            html += '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>';
            if({{mobile}}){
                $('#search_mobile').after(html);
            }else{
                $('#search').after(html);
                $('#d_ajax_search_results').css('margin-top', '-' + $('#search').css('margin-bottom'));
            }
            // $('#search').after(html);


        },
        success: function(results) {
            $('#d_ajax_search_results').remove();
            $('#help').hide();
            var result = $.map(results, function(value, index) {
                return [value];
            });

            if ( typeof result != 'undefined' && result.length>0) {
                var html, i;
                html = '<div id="d_ajax_search_results"><div id="d_ajax_search_results_body">';
                for (i=0;i<result.length;i++) {
                    html += '<a class="row" href="' + result[i].href + '">';
                    if (result[i].image){
                        html += '<div class="col pull-left col-sm-2 va-center text-center"><img src="' + result[i].image + '" /></div>';
                    } else {
                        html += '<div class="col col-sm-2 va-center text-center"></div>';
                    }
                    html += '<div class="col  {%if mobile %} pull-left name {%endif%} col-sm-7 va-center text-left"><span class="name">' + result[i].name + '</span>';
                    html +='<br><span class="model name" style="color:grey;">('+result[i].where_find+')</span>';
                // if (result[i]) html += ' (<span class="model">' + result[i].model + '</span>)';
                html += '</div>';

                if (result[i].special){
                    html += '<div class="col col-sm-3 va-center text-center"><span class="old-price">' + result[i].price + '</span><br>';
                    html += '<span class="special">' + result[i].special + '</span></div>';
                } else {
                    if (result[i].price > 0){
                        html += '<div class="col price col-sm-3 va-center {%if mobile %} pull-right {%endif%} text-center"><br><span class="">' + result[i].price + '</span></div>';
                    } else {
                        html += '<div class="col col-sm-3 va-center text-center"></div>';
                    }
                }

                html += '</a>';
            }

            html += '</div></div>';

            if ($('#d_ajax_search_results').length > 0) {
                $('#d_ajax_search_results').remove();
            }
            if({{mobile}}){
                $('.modal-body').append(html);
                // $('#d_ajax_search_results').css('margin-top', '-' + $('#search').css('margin-bottom'));
            }else{
                $('#search').after(html);
                $('#d_ajax_search_results').css('margin-top', '-' + $('#search').css('margin-bottom'));
            }


        }
    },
    error: function(xhr, ajaxOptions, thrownError) {
        console.log('error');
    }
});
    return true;
}

var updown = -1;

var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
};
})();

function clearInput (){
    $('#d_ajax_search_results').remove();
    $('#search_input').val('');
    $('#help').show();
}

$(document).ready(function(){
    if({{mobile}}){
        $('#search').click(function(){
            $('.modal_search').click();
        });
    }


    $("{{ setting['class'] }}").keyup(function(ev){
        var a= ev;
        var b =this.value;
        delay(function() {
            doquick_search(a, b);
        }, 500);
    });

    $("{{ setting['class'] }}").blur(function(){
        // setTimeout(function() {
        //     $('#d_ajax_search_results').remove();
        //     $('#help').show();
        //     updown = 0;
        // }, 500)
    });

     $("{{ setting['class'] }}").focus(function(ev){
        var a= ev;
        var b =this.value;
        delay(function() {
            doquick_search(a, b);
        }, 500);
     });

    $(document).bind('keydown', function(ev) {
        try {
            if( ev.keyCode == 13 && $('.selected').length > 0 ) {
                if($('.selected').find('a').first().attr('href')){
                    document.location.href = $('.selected').find('a').first().attr('href');
                }
            }
        }
        catch(e) {}
    });
});
</script>